extends layout

block content
  header
    div.content.clearfix
      div.float-left
        h1
          a(href='/' + username)= username
          |/#{title}
        if travis
          | !{travis}
      div.downloads
        h2 Download
        | Latest: 
        a(href='/' + username + '/' + title + '/download/latest.js') Full
        |  / 
        a(href='/' + username + '/' + title + '/download/latest.min.js') Minified
        br
        a(href='/' + username + '/' + title + '/download') All Versions
  if headings.width < 970
    section.menu.fix-when-top
      div.content
        nav
          each heading in headings
            a(href="#" + heading.id)= heading.text
  else
    section.menu
      div.content
        nav
    section.page
      div.content
        h2
          | Table of Contents
        ul
          each heading in headings
            li
              a(href="#" + heading.id)= heading.text
  section.page
    div.content
      | !{readme}
  a(href=github)
    img(style="position: absolute; z-index: 5; top: 0; right: 0; border: 0;", src="//s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")