extends layout

block content
  header
    div.content.clearfix
      img.avatarImage(src=user.avatar, align="left", width="80")
      h1.avatarHeader=user.name
  section.menu
    div.content
      nav
        a(href=user.url) GitHub
  each component in components
    section.page
      div.content
        h2
          a(href=component.url)=component.name
        p=component.description
      